<!doctype html>
<html lang="en">
  <head>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="static/assets/css/custom.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>DT2</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aguafina+Script">
    <link rel="stylesheet" href="static/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="static/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="static/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="static/assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="static/assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    
    <link rel="stylesheet" href="static/assets/css/Registration-Form-with-Photo.css">
    
  </head>
  <body style="background: var(--gray);">
	<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-blue w-65 aos-init aos-animate" data-aos="fade-left" data-aos-delay="100" style="background-color:   #484848;">
        <a class="navbar-brand" href="{{url_for('home')}}">
  
    <h2>MERS</h2>

    </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

			{% if current_user.is_authenticated %}
        <li class="nav-item ">
          <a class="nav-link" href="{{url_for('profile')}}">Hey,{{current_user.username[:3]}} </a>
        </li>
        {%endif%}
            <li class="nav-item ">
              <a class="nav-link" href="{{url_for('home')}}">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('seatchange')}}">Seat Shift</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('chatpage')}}">Forum</a>
            </li>
         
            {% if current_user.is_anonymous %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('register')}}">SignIn/SignUp</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('logout')}}">SignOut</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
	  <br>
	  <br>
	  {% with messages=get_flashed_messages(with_categories=true) %}
	  {% if messages %}
		{%for category,message in messages%}
		<br>
		<br>
		<div class="container">
		  <div class="alert alert-{{category}} alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="close" name="button"><span aria-hidden="true">&times;</span></button>
			{{message}}
		  </div>
		</div>
	
		{%endfor%}
	  {%endif%}
	  {%endwith%}
	
      <br>
      <br>
      <br>
      <h2 style="color: white;margin-right: 10%;margin-left: 10%;">Available Options</h2>
      {% if possible %}
      {%for i in possible%}
      <div class="card w-75" style="margin-right: 10%;margin-left: 10%;">
        <div class="card-body">
          <h5 class="card-title">{{i.seat_details}} in train number {{i.train_details.id}}</h5>
          <p class="card-text">{{i.user_details.username}}, {{i.user_details.age}} years old</p>
          <a href="{{url_for('req',tic=i.id,ticket2=T.id)}}" class="btn btn-primary">Request For Exchange</a>
        </div>
      </div>
      <br>
      {%endfor%}
      
      {%else%}
      <h2>No seats available for exchange as of now</h2>
      {%endif%}
  </body>
  <br>
  <br>

  <footer class="footer-basic">
        <div class="social" data-bss-hover-animate="pulse" ><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat" ></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline" data-bss-hover-animate="pulse">
            <li class="list-inline-item"><a href="index.html">Home</a></li>
            <li class="list-inline-item"><a href="index.html/#services">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">© Aravind 2021</p>
    </footer>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/0.12.14/vue.min.js'></script>
  <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="static/assets/js/stylish-portfolio.js"></script>
</html>