<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>DT2</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aguafina+Script">
    <link rel="stylesheet" href="static/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="static/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="static/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="static/assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="static/assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="static/assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="static/assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="static/assets/css/Team-Grid.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-blue w-65 aos-init aos-animate" data-aos="fade-left" data-aos-delay="100" style="background-color:   #484848;">
    <a class="navbar-brand" href="{{url_for('home')}}">

<h2>MERS</h2>

</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

        {% if current_user.is_authenticated %}
        <li class="nav-item ">
          <a class="nav-link" href="{{url_for('profile')}}">Hey,{{current_user.username[:3]}} </a>
        </li>
        {%endif%}
        <li class="nav-item ">
          <a class="nav-link" href="{{url_for('home')}}">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('seatchange')}}">Seat Shift</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('chatpage')}}">Forum</a>
        </li>
        
       
        {% if current_user.is_anonymous %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('register')}}">SignIn/SignUp</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('logout')}}">SignOut</a>
            </li>
            {% endif %}
      </ul>
    </div>
  </nav>
  <br>
  <br>
  {% with messages=get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {%for category,message in messages%}
    <br>
    <br>
    <div class="container">
      <div class="alert alert-{{category}} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close" name="button"><span aria-hidden="true">&times;</span></button>
        {{message}}
      </div>
    </div>

    {%endfor%}
  {%endif%}
  {%endwith%}

      <br>

    <section class="bounce animated register-photo" style="filter: brightness(92%) contrast(121%);opacity: 0.90;background: var(--gray);">
        <div class="form-container">
            <div class="image-holder"></div>
            <form method="post">
              {{form.hidden_tag()}}
                <h2 class="text-center" data-bss-hover-animate="pulse"><strong>Create</strong> an account.</h2>
                <div class="form-group" data-bss-hover-animate="pulse">{{form.username}}
                  {% for error in form.username.errors %}
 <span style="color: red;">[{{ error }}]</span>
 {% endfor %}
                </div>
                <div class="form-group" data-bss-hover-animate="pulse">{{form.email}}
                  {% for error in form.email.errors %}
 <span style="color: red;">[{{ error }}]</span>
 {% endfor %}
                </div>

                <div class="form-group" data-bss-hover-animate="pulse">{{form.aadhar}}
                  {% for error in form.aadhar.errors %}
 <span style="color: red;">[{{ error }}]</span>
 {% endfor %}
                </div>

                <div class="form-group" data-bss-hover-animate="pulse">{{form.mobile_number}}
                  {% for error in form.mobile_number.errors %}
 <span style="color: red;">[{{ error }}]</span>
 {% endfor %}
                </div>

                <div class="form-group" data-bss-hover-animate="pulse">{{form.area_pincode}}
                  {% for error in form.area_pincode.errors %}
 <span style="color: red;">[{{ error }}]</span>
 {% endfor %}
                </div>
                <div class="form-group" data-bss-hover-animate="pulse">{{form.age}}
                  {% for error in form.age.errors %}
 <span style="color: red;">[{{ error }}]</span>
 {% endfor %}
                </div>
                <br>
                <h4>Gender:</h4>
                <div class="form-group" style='list-style:none;' data-bss-hover-animate="pulse">{{form.label}}{{form.gender}}
                  {% for error in form.gender.errors %}
 <span style="color: red;">[{{ error }}]</span>
 {% endfor %}
                </div>
                <br>
                <div class="form-group" data-bss-hover-animate="pulse">{{form.password}}
                  {% for error in form.password.errors %}
 <span style="color: red;">[{{ error }}]</span>
 {% endfor %}
                </div>
                <div class="form-group" data-bss-hover-animate="pulse">{{form.conpassword}}
                  {% for error in form.conpassword.errors %}
 <span style="color: red;">[{{ error }}]</span>
 {% endfor %}
                </div>
                
                <div class="form-group">
                    <div class="form-check"><label class="form-check-label"><input class="form-check-input" type="checkbox">I agree to the license terms.</label></div>
                </div>
                <div class="form-group" data-bss-hover-animate="pulse">{{form.submit}}</div><a class="already" href="{{url_for('login')}}">You already have an account? Login here.</a>
            </form>
        </div>
    </section>
    <footer class="footer-basic">
        <div class="social" data-bss-hover-animate="pulse" ><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat" ></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline" data-bss-hover-animate="pulse">
            <li class="list-inline-item"><a href="index.html">Home</a></li>
            <li class="list-inline-item"><a href="index.html/#services">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright"></p>
    </footer>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="static/assets/js/stylish-portfolio.js"></script>
</body>



</html>